name: Build & Push Backend (GHCR)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./tcp_be/
          push: true
          tags: ghcr.io/apoliasm/tcp-be:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-to-ec2:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }} # 보통 ubuntu
          key: ${{ secrets.EC2_SSH_KEY }} # private key
          debug: true
          script: |
            set -e
            cd /home/ubuntu/deploy-tcp   # EC2에 있는 compose 디렉토리로
            echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin 
            docker compose pull backend
            docker compose up -d
            docker image prune -f

            # migrate db
            docker compose exec backend pnpm prisma migrate deploy
